/* 特色 */
.feature_wrapper {
    margin-bottom: 100px;
    position: relative;

    /* 內容區 */
    .fea_content_wrapper {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        /* 特色標題 */
        h2 {
            font-size: 28px;
            font-weight: bold;
            text-align: center;
        }

        /* 特色元素 */
        .fea_item {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 50px auto;

            /* 特色圖 */
            img {
                width: 45%;
                /* height: 384px; */
                border-radius: 20px;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            }

            /* 特色小標題 */
            h3 {
                width: 55%;
                font-size: 24px;
                text-align: center;
                margin: auto 0;
                font-weight: bold;

                /* 文字 */
                p {
                    width: 100%;
                    font-size: 18px;
                    font-weight: normal;
                }
            }
        }
    }

    /* 文字背景色設定 */
    .fea_text_bg {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 30.54%;
        background-color: #d5b2a0;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }

    /* 文字背景色塊位置1 */
    .bg_1 {
        top: 130px;
    }

    /* 文字背景色塊位置2 */
    .bg_2 {
        bottom: 67px;
    }
}


/* 微調文字背景色塊 */
@media (min-width: 996px) and (max-width: 1199.98px) {
    .feature_wrapper .fea_content_wrapper .fea_item {
        padding: 0 20px;
        box-sizing: border-box;
    }

    .feature_wrapper .bg_1 {
        top: 110px;
    }

    .feature_wrapper .bg_2 {
        bottom: 47px;
    }
}

/* 微調文字背景色塊 */
@media (min-width: 768px) and (max-width: 995.98px) {

    .feature_wrapper {

        .bg_1 {
            top: 100px;
        }

        .bg_2 {
            bottom: 27px;
        }
    }

}

@media (max-width: 767.98px) {

    .feature_wrapper .fea_content_wrapper {

        /* 個別元素外層 */
        .fea_item {
            width: 100%;
            display: block;
            text-align: center;

            /* 文字 */
            h3 {
                margin: 0 auto;
                margin-top: 20px;
                padding: 10px;
                border-radius: 20px;
                background-color: #d5b2a0;
            }
        }

        /* 下面的元素 */
        .fea_item2 {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

    }

    /* 原本的背景色塊消失 */
    .feature_wrapper .fea_text_bg {
        display: none;
    }
}

/* 調整圖片文字大小 */
@media (min-width: 576px) and (max-width: 767.98px) {
    .feature_wrapper .fea_content_wrapper .fea_item {

        img,
        h3 {
            width: 480px;
        }
    }
}

/* 調整圖片文字大小 */
@media (min-width: 414px) and (max-width: 575.98px) {
    .feature_wrapper .fea_content_wrapper .fea_item {

        img {
            width: 360px;
        }

        h3 {
            width: 360px;

            p {
                font-size: 14px;
            }
        }
    }
}

/* 調整圖片文字大小 */
@media (max-width: 413.98px) {

    img {
        width: 300px;
    }

    h3 {
        width: 300px;

        p {
            font-size: 14px;
        }
    }
}